<% if @restaurants.empty? %>
  <p> No restaurants found </p>
<% else %>
  <% @restaurants.each do |restaurant| %>
    <p> <%= restaurant.name %> </p>
  <% end %>
<% end %>

<%= link_to 'Add Restaurant', new_restaurant_path %>
